{% extends "layout.html" %}

{% block title %}
    upload
{% endblock %}

{% block main %}

    <!-- the main bit -->
    <div id="maindiv">

        <!-- Just a header... no big deal-->
        <h5>Upload the GEXF or SVG file</h5>
        <br>
        <p id="id" ></p> <!-- style="display: none" -->

        <!-- Form to upload a file -->
        <form action="/" method="POST" enctype="multipart/form-data" id="form">
            <!--<p><input type="radio" id="gexf" value="gexf"><label for="gexf">GEXF</label>
            <input type="radio" id="svg" value="svg"><label for="svg">SVG</label></p><br>-->
            <p><input type="file" name="file" id="file"></p>
            <p><input class="btn btn-primary" type="submit" value="Send"></p>
        </form>
        <br>

    </div>

    <!-- div to add the counter later on -->
    <div id="infodiv"></div>

    <!-- div to add the result link -->
    <div id="resultdiv"></div>

{% endblock %}

{% block footer %}

    Source code available on <a href="https://github.com/danielfeloiola/tube_plotter">GitHub</a>.

{% endblock %}
